<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<h1>Thank you for your purchase!</h1>
<p>you will now be re-directed to the home page...</p>
<script src="scripts/redirecting.js"></script>
<%- include('../includes/end.ejs') %>